@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** reset para REMS- 62.5% = 10px de 16px **/ }

*,
*:before,
*:after {
  box-sizing: inherit; }

/** globales **/
img {
  max-width: 100%; }

h1 {
  font-size: 4.5rem;
  font-family: 'mali';
  font-weight: 700; }

h2 {
  font-size: 3rem;
  font-family: 'mali';
  font-weight: 500; }

h3 {
  font-size: 2rem;
  font-family: 'mali';
  font-weight: 500; }

p {
  font-size: 2rem;
  font-family: 'mali';
  font-weight: 300;
  text-align: center; }

header {
  background: #dd8eb1;
  background: radial-gradient(circle, #dd8eb1 0%, #1b91a4 95%); }
  header nav ul {
    display: inline-flex;
    list-style: none;
    font-family: "Mali", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    gap: 2rem;
    margin-right: 1rem;
    align-items: baseline; }
    header nav ul li a {
      text-decoration: none;
      color: #260C26; }
      header nav ul li a:hover {
        background-color: #555bc3af;
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 1rem;
        color: rgba(26, 26, 114, 0.877); }

.logo {
  width: auto;
  max-height: 150px;
  border-radius: 5% 5%;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: calc(0.8);
  box-shadow: 24px 13px 10px 1px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 24px 13px 10px 1px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 24px 13px 10px 1px rgba(0, 0, 0, 0.66); }

.imgLupa {
  width: 0.8cm;
  height: 0.8cm;
  margin-right: 1rem; }
  .imgLupa:hover {
    background-color: #555bc3af;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem; }

.contenedorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*Carrusel*/
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; }
  .hero .imgCarrusel {
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .hero .imgCarrusel .carousel-inner img {
      height: 400px;
      object-fit: cover; }
  .hero #demotext {
    text-shadow: 0 0 10px #FFFFFF, 3px 8px 1px rgba(206, 89, 55, 0.29);
    color: #4E4E4E; }

.fondohInicio h1 {
  text-align: center;
  background-image: url(../img/fondo-css-3.jpg);
  top: 0;
  position: sticky; }

section {
  margin-top: 0.5rem;
  size: 60%; }

/*----tarjetas de productos------*/
.listaProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem;
  padding: 0.8rem; }
  .listaProductos div {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    box-shadow: 13px 15px 14px 1px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 13px 15px 14px 1px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 13px 15px 14px 1px rgba(0, 0, 0, 0.67); }
    .listaProductos div a {
      display: block;
      font-size: 3rem;
      font-family: 'mali';
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      color: #471616; }
    .listaProductos div img {
      width: 100%;
      height: 100%;
      opacity: 0.8;
      transition: all 1s; }
  .listaProductos section {
    display: inline-block;
    text-align: center; }
  .listaProductos:hover {
    background-color: rgba(109, 47, 73, 0.589);
    transition-duration: 2s; }

.textoenContenedor {
  position: relative;
  width: 100%;
  height: 300px;
  box-shadow: inset 0px -66px 5px -33px #174a53; }
  .textoenContenedor div {
    transition: background-color linear 1s;
    background: #9b6897; }
  .textoenContenedor a {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.63);
    background-color: background #85ffca;
    background: linear-gradient(90deg, #85ffca 0%, #a8b1ff 50%, #ec9eff 100%);
    background: -moz-linear-gradient(90deg, #85ffca 0%, #a8b1ff 50%, #ec9eff 100%);
    background: -webkit-linear-gradient(90deg, #85ffca 0%, #a8b1ff 50%, #ec9eff 100%);
    width: 100%;
    transition-property: background-color white;
    transition-duration: 3s; }

.tutorial {
  grid-column: 1 / 3;
  text-decoration: underline; }

.etapaFinal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 3rem; }
  .etapaFinal div {
    padding: 1rem;
    margin-bottom: 1rem; }
    .etapaFinal div h2 {
      text-align: center; }

.tutorialTitulo {
  background-color: #3EECAC;
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
  padding: 0.7rem;
  text-transform: uppercase; }

.tutorialconVideo {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 0.5fr 1fr 2fr; }

.video {
  display: block;
  margin: 0 auto; }

.trabajando {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.7fr 0.8fr;
  grid-template-areas: "tituloTrabajando tituloTrabajando2" "imgTrabajando imgTrabajando2" "textoTrabajando textoTrabajando2"; }

.tituloTrabajando {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  background-color: rgba(190, 149, 158, 0.514);
  font-weight: 500;
  color: #260C26; }

.tituloTrabajando2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  background-color: rgba(190, 149, 158, 0.514);
  font-weight: 500;
  color: #260C26; }

.imgTrabajando {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  transition: 2s;
  align-self: center;
  box-shadow: -12px 12px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -12px 12px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px 12px 5px 0px rgba(0, 0, 0, 0.75); }
  .imgTrabajando:hover {
    transform: scale(1.2); }

.imgTrabajando2 {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  transition: 2s;
  align-self: center;
  box-shadow: -12px 12px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -12px 12px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px 12px 5px 0px rgba(0, 0, 0, 0.75); }
  .imgTrabajando2:hover {
    transform: scale(1.2); }

.textoTrabajando {
  display: inline;
  margin-top: 1.5rem; }

.textoTrabajando2 {
  display: inline;
  margin-top: 1.5rem; }

.blog {
  border: solid;
  border-color: #93D6D6 #B79AD4;
  border-style: inset; }
  .blog div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; }
    .blog div img {
      width: auto;
      height: 300px;
      object-fit: cover; }
    .blog div p {
      font-family: sans-serif;
      color: #100635; }
  .blog h2 {
    background-color: rgba(128, 128, 128, 0.507);
    padding: 1rem;
    margin-top: 0; }
  .blog h3::after {
    content: url("../img/corazon.png"); }

.blogClientes div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  border: 1px rgba(0, 0, 0, 0.37) dashed; }

.blogClientes p::after {
  content: url("../img/frase-de-entrenamiento.png"); }

/*Media Queries*/
@media screen and (max-width: 900px) {
  .listaProductos div a {
    font-size: 2rem; }
  .blogClientes div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; } }

@media screen and (max-width: 700px) {
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .listaProductos div a {
    font-size: 2rem;
    transition-duration: none; }
  .logo {
    width: 50%; } }

@media screen and (max-width: 800px) {
  .etapaFinal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; }
  .etapaFinal div {
    margin-bottom: 0; }
  .blogClientes div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-block: 0;
    block-size: 300px;
    align-content: center; }
  .blog div img {
    object-fit: contain;
    width: 70%;
    height: 70%; }
  footer div {
    flex-wrap: wrap; } }

@media screen and (max-width: 600px) {
  .contenedorHeader div nav ul {
    display: block;
    margin: 2rem;
    list-style: thai; }
  .hero {
    display: block;
    margin: 1rem; }
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .logo {
    width: 70%;
    margin-left: 1rem; }
  .imgLupa {
    width: 50%;
    height: 50%; }
  footer ul {
    display: block;
    margin: 2rem;
    list-style: thai;
    justify-content: flex-end; }
  .copy {
    width: 100%; }
  footer div section {
    padding: 0; } }

@media screen and (max-width: 480px) {
  .contenedorHeader div nav ul li {
    font-size: 1.2rem; }
  .listaProductos {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr; }
  .etapaFinal div {
    width: 95%; }
  .video {
    width: 95%; }
  .trabajando {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-areas: "tituloTrabajando" "imgTrabajando" "textoTrabajando" "tituloTrabajando2" "imgTrabajando2" "textoTrabajando2"; }
  .trabajando img {
    width: 80%; }
  .tituloTrabajando::before {
    content: "☝"; }
  .tituloTrabajando2::before {
    content: "✌"; }
  .textoTrabajando::before {
    content: "☝"; }
  .textoTrabajando2::before {
    content: "✌"; } }

footer ul {
  display: inline-flex;
  list-style: none;
  font-family: "Mali", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  gap: 2rem; }
  footer ul li a {
    text-decoration: none;
    color: #260C26;
    justify-content: flex-end; }
    footer ul li a:hover {
      background-color: #555bc3af;
      font-weight: bold;
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: rgba(26, 26, 114, 0.877); }

footer div {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
  background: #dd8eb1;
  background: radial-gradient(circle, #dd8eb1 0%, #1b91a4 95%); }

footer section a {
  margin: 1rem; }

.copy {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem; }

/*Media Queries*/
@media screen and (max-width: 900px) {
  .listaProductos div a {
    font-size: 2rem; }
  .blogClientes div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; } }

@media screen and (max-width: 700px) {
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .listaProductos div a {
    font-size: 2rem;
    transition-duration: none; }
  .logo {
    width: 50%; } }

@media screen and (max-width: 800px) {
  .etapaFinal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; }
  .etapaFinal div {
    margin-bottom: 0; }
  .blogClientes div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-block: 0;
    block-size: 300px;
    align-content: center; }
  .blog div img {
    object-fit: contain;
    width: 70%;
    height: 70%; }
  footer div {
    flex-wrap: wrap; } }

@media screen and (max-width: 600px) {
  .contenedorHeader div nav ul {
    display: block;
    margin: 2rem;
    list-style: thai; }
  .hero {
    display: block;
    margin: 1rem; }
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .logo {
    width: 70%;
    margin-left: 1rem; }
  .imgLupa {
    width: 50%;
    height: 50%; }
  footer ul {
    display: block;
    margin: 2rem;
    list-style: thai;
    justify-content: flex-end; }
  .copy {
    width: 100%; }
  footer div section {
    padding: 0; } }

@media screen and (max-width: 480px) {
  .contenedorHeader div nav ul li {
    font-size: 1.2rem; }
  .listaProductos {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr; }
  .etapaFinal div {
    width: 95%; }
  .video {
    width: 95%; }
  .trabajando {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-areas: "tituloTrabajando" "imgTrabajando" "textoTrabajando" "tituloTrabajando2" "imgTrabajando2" "textoTrabajando2"; }
  .trabajando img {
    width: 80%; }
  .tituloTrabajando::before {
    content: "☝"; }
  .tituloTrabajando2::before {
    content: "✌"; }
  .textoTrabajando::before {
    content: "☝"; }
  .textoTrabajando2::before {
    content: "✌"; } }

.inputB {
  flex-direction: column;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.botonEnviar {
  width: 10%;
  height: 10%;
  align-items: center; }

/*Media Queries*/
@media screen and (max-width: 900px) {
  .listaProductos div a {
    font-size: 2rem; }
  .blogClientes div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; } }

@media screen and (max-width: 700px) {
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .listaProductos div a {
    font-size: 2rem;
    transition-duration: none; }
  .logo {
    width: 50%; } }

@media screen and (max-width: 800px) {
  .etapaFinal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; }
  .etapaFinal div {
    margin-bottom: 0; }
  .blogClientes div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-block: 0;
    block-size: 300px;
    align-content: center; }
  .blog div img {
    object-fit: contain;
    width: 70%;
    height: 70%; }
  footer div {
    flex-wrap: wrap; } }

@media screen and (max-width: 600px) {
  .contenedorHeader div nav ul {
    display: block;
    margin: 2rem;
    list-style: thai; }
  .hero {
    display: block;
    margin: 1rem; }
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .logo {
    width: 70%;
    margin-left: 1rem; }
  .imgLupa {
    width: 50%;
    height: 50%; }
  footer ul {
    display: block;
    margin: 2rem;
    list-style: thai;
    justify-content: flex-end; }
  .copy {
    width: 100%; }
  footer div section {
    padding: 0; } }

@media screen and (max-width: 480px) {
  .contenedorHeader div nav ul li {
    font-size: 1.2rem; }
  .listaProductos {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr; }
  .etapaFinal div {
    width: 95%; }
  .video {
    width: 95%; }
  .trabajando {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-areas: "tituloTrabajando" "imgTrabajando" "textoTrabajando" "tituloTrabajando2" "imgTrabajando2" "textoTrabajando2"; }
  .trabajando img {
    width: 80%; }
  .tituloTrabajando::before {
    content: "☝"; }
  .tituloTrabajando2::before {
    content: "✌"; }
  .textoTrabajando::before {
    content: "☝"; }
  .textoTrabajando2::before {
    content: "✌"; } }

main form {
  font-size: 1.5rem;
  font-family: 'mali';
  padding: 1em; }

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .formulario section img {
    max-width: 100%; }
  .formulario div {
    width: min-content;
    background-color: #faf7f4;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-top: -15rem;
    padding: 5rem;
    box-shadow: -1px 14px 128px 29px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 14px 128px 29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 14px 128px 29px rgba(0, 0, 0, 0.75); }
  .formulario input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .formulario textarea::placeholder {
    font-style: italic;
    color: grey; }

/*Quien Soy*/
/*Media Queries*/
@media screen and (max-width: 900px) {
  .listaProductos div a {
    font-size: 2rem; }
  .blogClientes div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; } }

@media screen and (max-width: 700px) {
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .listaProductos div a {
    font-size: 2rem;
    transition-duration: none; }
  .logo {
    width: 50%; } }

@media screen and (max-width: 800px) {
  .etapaFinal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; }
  .etapaFinal div {
    margin-bottom: 0; }
  .blogClientes div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-block: 0;
    block-size: 300px;
    align-content: center; }
  .blog div img {
    object-fit: contain;
    width: 70%;
    height: 70%; }
  footer div {
    flex-wrap: wrap; } }

@media screen and (max-width: 600px) {
  .contenedorHeader div nav ul {
    display: block;
    margin: 2rem;
    list-style: thai; }
  .hero {
    display: block;
    margin: 1rem; }
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .logo {
    width: 70%;
    margin-left: 1rem; }
  .imgLupa {
    width: 50%;
    height: 50%; }
  footer ul {
    display: block;
    margin: 2rem;
    list-style: thai;
    justify-content: flex-end; }
  .copy {
    width: 100%; }
  footer div section {
    padding: 0; } }

@media screen and (max-width: 480px) {
  .contenedorHeader div nav ul li {
    font-size: 1.2rem; }
  .listaProductos {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr; }
  .etapaFinal div {
    width: 95%; }
  .video {
    width: 95%; }
  .trabajando {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-areas: "tituloTrabajando" "imgTrabajando" "textoTrabajando" "tituloTrabajando2" "imgTrabajando2" "textoTrabajando2"; }
  .trabajando img {
    width: 80%; }
  .tituloTrabajando::before {
    content: "☝"; }
  .tituloTrabajando2::before {
    content: "✌"; }
  .textoTrabajando::before {
    content: "☝"; }
  .textoTrabajando2::before {
    content: "✌"; } }

.quienSoy h1 {
  text-align: center; }

.quienSoy__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .quienSoy__contenedor p {
    font-weight: 500; }

main div img {
  width: 70%;
  height: 70%; }

/*Media Queries*/
@media screen and (max-width: 900px) {
  .listaProductos div a {
    font-size: 2rem; }
  .blogClientes div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; } }

@media screen and (max-width: 700px) {
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .listaProductos div a {
    font-size: 2rem;
    transition-duration: none; }
  .logo {
    width: 50%; } }

@media screen and (max-width: 800px) {
  .etapaFinal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; }
  .etapaFinal div {
    margin-bottom: 0; }
  .blogClientes div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-block: 0;
    block-size: 300px;
    align-content: center; }
  .blog div img {
    object-fit: contain;
    width: 70%;
    height: 70%; }
  footer div {
    flex-wrap: wrap; } }

@media screen and (max-width: 600px) {
  .contenedorHeader div nav ul {
    display: block;
    margin: 2rem;
    list-style: thai; }
  .hero {
    display: block;
    margin: 1rem; }
  .listaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .logo {
    width: 70%;
    margin-left: 1rem; }
  .imgLupa {
    width: 50%;
    height: 50%; }
  footer ul {
    display: block;
    margin: 2rem;
    list-style: thai;
    justify-content: flex-end; }
  .copy {
    width: 100%; }
  footer div section {
    padding: 0; } }

@media screen and (max-width: 480px) {
  .contenedorHeader div nav ul li {
    font-size: 1.2rem; }
  .listaProductos {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr; }
  .etapaFinal div {
    width: 95%; }
  .video {
    width: 95%; }
  .trabajando {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-areas: "tituloTrabajando" "imgTrabajando" "textoTrabajando" "tituloTrabajando2" "imgTrabajando2" "textoTrabajando2"; }
  .trabajando img {
    width: 80%; }
  .tituloTrabajando::before {
    content: "☝"; }
  .tituloTrabajando2::before {
    content: "✌"; }
  .textoTrabajando::before {
    content: "☝"; }
  .textoTrabajando2::before {
    content: "✌"; } }
