/*Media Queries*/

@media screen and (max-width: 900px) {
    .listaProductos div a {
        font-size: 2rem;
    }

    .blogClientes div {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
    }
}

@media screen and (max-width: 700px) {
    .listaProductos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .listaProductos div a {
        font-size: 2rem;
        transition-duration: none;
    }

    .logo {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {

    .etapaFinal {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
    }

    .blogClientes div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        padding-block: 0;
        block-size: 300px;
        align-content: center;
    }

    .blog div img {
        object-fit: contain;
        width: 70%;
        height: 70%;
    }

    footer div {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 600px) {

    .contenedorHeader div nav ul {
        display: block;
        margin: 2rem;
        list-style: thai;
    }

    .hero {
        display: block;
        margin: 1rem;
    }

    .listaProductos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .logo {
        width: 70%;
        margin-left: 1rem;
    }

    .imgLupa {
        width: 50%;
        height: 50%;
    }

    footer ul {
        display: block;
        margin: 2rem;
        list-style: thai;
        justify-content: flex-end;
    }

    .copy {
        width: 100%;
    }

    footer div section {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {

    .contenedorHeader div nav ul li {
        font-size: 1.2rem;
    }

    .hero .imgCarrusel .carousel-inner img {
        height: inherit;
        object-fit: contain;
    }

    .listaProductos {
        grid-template-columns: 1fr;
        grid-template-rows: 8fr;
    }

    .blog div p {
        font-size: 1.5rem;
    }

    .video {
        width: 95%;
    }

    .trabajando {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.8fr 0.8fr 0.8fr 0.8fr;
    }

    .trabajando img {
        width: 80%;
    }

    .tituloTrabajando::before {
        content: "☝";
    }

    .tituloTrabajando2::before {
        content: "✌";
    }

    .textoTrabajando::before {
        content: "☝";
    }

    .textoTrabajando2::before {
        content: "✌";
    }
}