//Colores

$color-principal: #260C26;
$color-background-enlaces: #555bc3af;
$color-hover: rgba(26, 26, 114, 0.877);
$color-cards: #471616;

//Fuente

$fuente-principal: 'Mali', sans-serif;

// Mixins

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}