@import "../base/variables";
@import "../base/media-query";

footer {
	ul {
		display: inline-flex;
		list-style: none;
		font-family:$fuente-principal;
		font-size: 1.5rem;
		text-transform: uppercase;
		gap: 2rem;
		li {
			a {
				text-decoration: none;
				color: $color-principal;
				justify-content: flex-end;
				&:hover {
					background-color:$color-background-enlaces;
					font-weight: bold;
					border-radius: 0.5rem;
					padding: 0.5rem;
					color: $color-hover;
				}
			}
		}
	}
	div {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		align-items: center;
		padding: 1rem;
		background: rgb(221, 142, 177);
		background: radial-gradient(circle, rgba(221, 142, 177, 1) 0%, rgba(27, 145, 164, 1) 95%);
	}
	section {
		a {
			margin: 1rem;
		}
	}
}
.copy {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1rem;
}
