@import "../base/variables";

.inputB {
    flex-direction: column;
    margin: 1rem;
    @include flex (flex, space-between, center);
}

.botonEnviar {
    width: 10%;
    height: 10%;
    align-items: center;
}
