.inputB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.botonEnviar {
    width: 10%;
    height: 10%;
    align-items: center;
}