/*Quien Soy*/
.quienSoy {
	h1 {
		text-align: center;
	}
}
.quienSoy__contenedor {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main {
	div {
		img {
			width: 70%;
			height: 70%;
		}
	}
}
